body {
    background: #fff;
    font: .8em ;
    line-height: 1.5em;
}

h1 {
  margin-top: 0.5em;
  font-color: #3B6EBF;
}   

h2 {
  margin-top: 0.5em;
  font-color: #3B6EBF;
}

h3 {
  margin-top: 0.5em;
  font-color: #3B6EBF;
}

#layout-banner {
	background: #85ACF7  url('icons/hidr.jpg');
  color: white;
	font-family: sans-serif;
	text-align: right;
  padding: 0.8em 20px;
}

#layout-title {
	font-family: monospace;
	font-size: 3.5em;
	font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

#layout-description {
	font-size: 1.2em;
  letter-spacing: 0.1em;
}

#layout-menu {
  background-color: #f4f4f4;
  border-right: 3px solid #eeeeee;
  padding-top: 0.8em;
  padding-left: 20px;
  padding-right: 0.8em;
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: bold;
}
#layout-menu a {
  font-color: #F6F9FB;
  line-height: 2em;
  margin-left: 0.5em;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  font-color: #F6F9FB;
  text-decoration: none;
}
#layout-menu a:hover {
	color: navy;
  text-decoration: none;
}
#layout-menu #page-source {
  border-top: 2px solid silver;
  margin-top: 0.2em;
}

#layout-content {
  font-family: sans-serif;
  margin-left: 1.0em;
}

@media print {
  #layout-banner { display: none; }
  #layout-menu { display: none; }
}
